{% extends "poster.jinja2" %}

{### Header ###}

{% set poster_title = "Hyperparameter Optimization as a Service on INFN Cloud" %}
{% set poster_subtitle = "" %}
{% set venue_long = "21st International Workshop on Advanced Computing and Analysis Techniques in Physics Research" %}
{% set venue_short = "ACAT 2022" %}
{% set webpage_title = poster_title + " (" + venue_short + " poster)" %}
{% set project_url = "http://hopaas.cloud.infn.it" %}
{% set venue_url = "https://indico.cern.ch/event/1106990" %}
{% set contact = "Matteo.Barbetti@fi.infn.it" %}

{% set pub_datetime_iso = "2022-10-23" %}
{% set pub_date = "October 23, 2022" %}

{% block custom_head %}
  <style type="text/css">
    html { font-size: 1.05rem }
  </style>
{% endblock %}

{% block authors %}
  <span class="medium">
    <a property="author"><strong>Matteo Barbetti</strong><sup>a,b</sup></a> and
    <a property="author">Lucio Anderlini<sup>b</sup></a>
  </span>
{% endblock %}

{% block affiliations %}
  <span class="normal">
    <sup>a</sup><a property="sourceOrganization">University of Florence - DINFO</a>,
    <sup>b</sup><a property="sourceOrganization">Istituto Nazionale di Fisica Nucleare - Sezione di Firenze</a>
  </span>
{% endblock %}

{# Project logos shown on the left side #}
{% block project_logos %}
  <a href="{{ project_url }}"><img src="img/hopaas_logo_black.png" alt="Hopaas logo"></a>
  <a href="https://www.cloud.infn.it"><img src="img/infn-cloud-logo.png" alt="INFN Cloud logo"></a>
{% endblock %}

{# Extra logos shown on the right side #}
{% block logos %}
  <a href="{{ venue_url }}"><img src="img/acat-logo-nobkg.png" alt="ACAT logo"></a>
{% endblock %}

{### Footer ###}

{% block project_link %}
  <a href="{{ project_url }}">{{ project_url }}</a>
{% endblock %}

{% block contact_information %}
  <a href="mailto:{{ contact }}">{{ contact }}</a>
{% endblock %}

{### Contents ###}

{% block contents %}
  <article>
    <header><h3>1. Motivation</h3></header>
    <p><em>work in progress...</em></p>
  </article>

  <article>
    <header><h3>2. Block</h3></header>
    <p><em>work in progress...</em></p>
  </article>

  <article>
    <header><h3>3. Block</h3></header>
    <p><em>work in progress...</em></p>
  </article>

  <article>
    <header><h3>n. Conclusions</h3></header>
    <p><em>work in progress...</em></p>
  </article>

  <article>
    <header><h3>References</h3></header>
    <p><em>work in progress...</em></p>
  </article>
{% endblock %}
